# Database Connection String for PostgreSQL
DATABASE_URL="postgresql://void:voidpass@localhost:5435/void_db?schema=public"

# Redis Connection String for BullMQ
REDIS_URL="redis://localhost:6379"

# App Ports
NODE_API_PORT=3001
FASTAPI_PORT=8000
